@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton+SC&family=Archivo+Black&family=Bree+Serif&family=Danfo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Luckiest+Guy&family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&family=Rubik+Mono+One&family=Rubik+Wet+Paint&family=Sixtyfour+Convergence&family=Teko:wght@300..700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-container {
    background-color: transparent;
    backdrop-filter: blur(7px);
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-size: larger;
    font-style: normal;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group button {
    background-color: lightslategray;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 100;
    font-size: larger;
    font-style: normal;
    box-shadow: 10px 10px 12px black;
    
}

.form-group button:hover {
    background-color: cornflowerblue;
}

.form-footer {
    text-align: center;
    margin-top: 15px;
}

.form-footer p {
    color: black;
}

.form-footer a {
    color: blue;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}